article {
  font-family: sans-serif;
  border: 4px solid #222;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(224, 213, 213, 0.822);
}

p span {
  font-weight: bolder;
}

ul {
  list-style: square;
}
